/* Import Font */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

body {
    /* Text */
    font-family: 'Josefin Slab', serif;
    font-weight: 900;
    font-size: 1.5vw;

    /* Colour */
    background-color: #E6DCEF;
}

h1 {
    /* Text */
    color: #6E3667;
    font-weight: 100;
    font-size: 4vw;

    /* Margins */
    position: absolute;
    left: 5%;
}

h3 {
    /* Size */
    font-size: 3vw;
}

p {
    /* Text */
    font-size: 1.7vw;
}

.SideBar{
    /* Colour and Background */
    background-image: url(images/texture1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #E6DCEF;

    /* Margins */
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 15%;
    z-index: 2;

    /* Text */
    text-align: center;
    text-indent: 0%;
    font-size: 1.7vw;
}

.SideBar ul{
    /* No Default */
    padding: 0;

    /* Margins */
    position: absolute;
    left: 5%;
    text-align: left;
}

.SideBar a{
    /* Colour */
    transition: .3s;
    color: #E6DCEF;

    /* Text */
    text-decoration: none;
}

.SideBar a:hover{
    /*Colour*/
    transition: .3s;
    color: black;
}

.Contact{
    /* Position */
    position: absolute;
    top: 85%;

    /* Size */
    font-size: 1.3vw
}

.FrontPage{
    /* Margins */
    position: absolute;
    left: 15%;
    height: 100%;
    width: 85%;
    top: 0%;

}

.AboutMe{
    /* Margins */
    position: absolute;
    top: 15%;
    left: 4%;
}

.Bar {
    /* Margins */
    position: absolute;
    width: 100%;
    height: 1%;
    top: 15%;

    /* Colour */
    background-color: #6E3667;
}

.Name h2{
    /* Margins */
    position: absolute;
    left: 2%;
    top: 47%;

    /* Text */
    font-size: 3vw;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
}

.ProfilePic{
    /* Position */
    position: absolute;
    left: 3%;
    top: 20%;
}

.LinkedIn{
    /* Margins */
    position: absolute;
    left: 40%;
    top: 20%;
}

.Email{
    /* Margins */
    position: absolute;
    left: 40%;
    top: 41%;

    /* Text */
    font-family: sans-serif;
    font-weight: 400;
}

.GitHub{
    /* Margins */
    position: absolute;
    left: 40%;
    top: 46%;
    width: 70%;

    /* Text */
    font-family: sans-serif;
    font-weight: 400;

}
.GitHub a{
    /* Colour */
    transition: .3s;
    color: #6E3667;

    /* Text */
    text-decoration: none;
}

.GitHub a:hover{
    /* Colour */
    transition: .3s;
    color: Black;

    /* Text */
    text-decoration: none;
}

.Subsection h4{
    /* Margins */
    position: absolute;
    top: 54%;
    left: 4%;

    /* Text */
    font-size: 2vw;
    font-weight: 500;
    font-family: sans-serif;
}

.Skills h5{
    /* Text */
    font-size: 1.8vw;
    font-weight: 300;
    font-family: sans-serif;
}

.Skills ul{
    /* Padding */
    padding: 0;

    /* Text */
    font-size: 1.8vw;
    font-weight: 300;
    font-family: sans-serif;
}

.Comp{
    /* Margins */
    position: absolute;
    top: 59%;
    left: 4%;
    width: 100%
}

.CompSkillsDesc{
    /* Margins */
    position: absolute;
    top: 45%;
    left: 7%;
    width: 100%
}
