/* Import Font */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

/* ALL */

body {
    /* Text */
    font-family: 'Josefin Slab', serif;
    font-weight: 900;
    font-size: 3vw;

    /* Colour */
    background-color:white;
}

.MainContent{
    /* Position */
    position: absolute;
    margin:0;
    left:0;
    top:5vh;
    padding: 0;
    width: 100%;
    height: 95vh;
}
.Canvas{
    /* Position */
    position: absolute;
    margin:0;
    left:0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.TitleName{
    /* Position */
    position: absolute;
    left:5vw;
    /* Text */
    font-weight: 900;
    font-size: 3vh;
    color: #028090;
}

/* TOPBAR */

.TopBar{
    /* Colour and Background */
    /*background-image: url(images/texture1.png);
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: #114B5F;
    opacity: 0.5;

    /* Margins */
    top: 0%;
    left: 0%;
    position: fixed;
    height: 5vh;
    width: 100%;
    z-index: 2;

    /* Text */
    text-align: left;
    text-indent: 0%;
    font-size: 1.5vw;
}

.TopBar ul{

    /* Style Type */
    list-style-type: none;

    /* No Default */
    padding: 0;

    /* Margins */
    position: fixed;
    top: 0%;
    border: 0;
    height: 5vh;
    width: 100%;
    margin: 0;
}

.TopBar li{
    float: left;
    display:block;
    padding-top: 1vh;
    padding-right: 2vw;
    padding-left: 2vw;
    height: 3vh;
    padding-bottom: 1vh;

}

.TopBar li:hover{

    /*Colour*/
    transition: .3s;
    background-color: #F45B69;
}

.\TopBar a{

    /* Colour */
    color: #E4FDE1;

    /*Size*/
    height: 100%;

    /* Text */
    text-decoration: none;
}


/* RESUME PAGE */

.Resume{
    /* Position */
    position: absolute;
    top: 10vw;
    left: 3%;
    right: 3%;
    overflow: hidden;
    display: flex;
    font-family: sans-serif;
}

.Profile img{
    float:left;
}

.Profile h3{
    position: relative;
    left: 5%;
    font-weight: normal;
}

.Profile a{
    /* Colour */
    transition: .3s;
    color: #028090;

    /* Text */
    text-decoration: none;
}

.Profile a:hover{
    /*Colour*/
    transition: .3s;
    color: black;
}

.Content{
    margin-top: 10%;
    font-weight: normal;
}

.Content p{
    padding: none;
    margin-top: 0;
}


.Content ul{
    padding: none;
    margin-top: 0;
}

.Content h2{
    font-size: 4vw;
    margin-top: 0;
}

.Content h4{
    font-size: 2vw;
    margin-bottom: 0;
}

.Content h5{
    font-size: 1.5vw;
    margin-bottom: 0;
}

.Name h2{
    /* Position */
    position: absolute;
    top: 25vw;
    left: 3%;

    /* Text */
    font-weight: bolder;
    font-size: 3vw;
}
.Skills{
    position: relative;
    margin-top: -2vw;
}

.Content p{
    margin-bottom: 0;
}

/* HACKATHON PAGE */

.HackList{
    /* Position */
    position: absolute;
    top: 10vw;
    left: 3%;
    right: 3%;
    text-align: justify;
    overflow: hidden;
    display: block;

    /* Text */
    font-family: sans-serif;
    font-weight: normal;
}

.HackList iframe{
    /* Margins */
    margin-left: 27.5%;
}

.HackList img{
    /* Margins */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.HackList h2{
    /* Text */
    font-size: 1.6vw;
}

.HackList p{
    /* Text */
    font-size: 1.5vw;
}

.HackList h6{
    /* Margins */
    padding: none;

    /* Text */
    font-size: 1.5vw;
    font-weight: normal;
    text-align: center;
}

.HackList a{
    /* Colour */
    transition: .3s;
    color: #028090;

    /* Text */
    text-decoration: none;
}

.HackList a:hover{
    /*Colour*/
    transition: .3s;
    color: black;
}

/* PROJECTS */

.ProjectList{
    /* Position */
    position: absolute;
    top: 10vw;
    left: 3%;
    right: 3%;
    text-align: justify;
    overflow: hidden;
    display: block;

    /* Text */
    font-family: sans-serif;
    font-weight: normal;
}

.ProjectList h2{
    /* Text */
    font-size: 1.6vw;
}

.ProjectLists p{
    /* Text */
    font-size: 1.5vw;
}
