/* Import Font */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

/* ALL */

body {
    /* Text */
    font-family: 'Josefin Slab', serif;
    font-weight: 900;
    font-size: 1.5vw;

    /* Colour */
    background-color: #E6DCEF;
}

.MainContent{
    /* Position */
    position: absolute;
    width: 85%;
    left:15%;
}

.TitleName{
    /* Position */
    position: absolute;
    left:5%;
    width: 95%;
    margin-top: 1%;

    /* Text */
    font-weight: 900;
    font-size: 2vw;
    color: #6E3667;
}

.Bar{
    /* Position */
    position: absolute;
    width: 100%;
    left: 0;
    top: 8vw;
    height: .5vw;
    background-color: #6E3667;
}

/* SIDEBAR */

.SideBar{
    /* Colour and Background */
    background-image: url(images/texture1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #E6DCEF;

    /* Margins */
    top: 0%;
    left: 0%;
    position: fixed;
    height: 100%;
    width: 15%;
    z-index: 2;

    /* Text */
    text-align: center;
    text-indent: 0%;
    font-size: 1.7vw;
}

.SideBar h3 {
    /* Size */
    font-size: 3vw;
}

.SideBar ul{
    /* No Default */
    padding: 0;

    /* Margins */
    position: absolute;
    left: 5%;
    text-align: left;
}

.SideBar a{
    /* Colour */
    transition: .3s;
    color: #E6DCEF;

    /* Text */
    text-decoration: none;
}

.SideBar a:hover{
    /*Colour*/
    transition: .3s;
    color: black;
}

.Contact{
    /* Position */
    position: absolute;
    top: 85%;

    /* Size */
    font-size: 1.3vw
}

/* RESUME PAGE */

.Resume{
    /* Position */
    position: absolute;
    top: 10vw;
    left: 3%;
    overflow: hidden;
    display: flex;
    font-family: sans-serif;
}

.Profile img{
    float:left;
}

.Profile h3{
    position: relative;
    left: 5%;
}

.Content{
    margin-top: 23%;
    font-weight: normal;
}

.Content p{
    padding: none;
    margin-top: 0;
}

.Content ul{
    padding: none;
    margin-top: 0;
}

.Content h2{
    font-size: 4vw;
    margin-top: 0;
}

.Content h4{
    font-size: 2vw;
    margin-bottom: 0;
}

.Content h5{
    font-size: 1.5vw;
    margin-bottom: 0;
}

.Name h2{
    /* Position */
    position: absolute;
    top: 25vw;
    left: 3%;

    /* Text */
    font-weight: bolder;
    font-size: 3vw;
}
.Skills{
    position: relative;
    margin-top: -2vw;
}

.Content p{
    margin-bottom: 0;
}
.LinkedIn{
    /* Position */
    position: absolute;
    top: 10vw;
    left: 64%
}

.Email{
    /* Position */
    position: absolute;
    top: 10vw;
    left: 30%;

    /* Text */
    font-size: 2vw;
}

.GitHub{
    /* Position */
    position: absolute;
    top: 15vw;
    left: 10%;

    /* Text */
    font-size: 2vw;
}
